<!-- <p>sign-up works!</p> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <section>
        <div class="colour"></div>
        <div class="colour"></div>
        <div class="colour"></div>
        <div class="box">
            <div class="square" style="--i: 0"></div>
            <div class="square" style="--i: 1"></div>
            <div class="square" style="--i: 2"></div>
            <div class="square" style="--i: 3"></div>
            <div class="square" style="--i: 4"></div>
            <div class="container">
                <div class="form">
                    <h2>Sign-Up Form</h2>
                    <form>
                        <div class="input__box">
                            <input type="text" placeholder="Username/E-mail ID" />
                        </div>
                        <div class="input__box">
                            <input type="password" placeholder="Password" />
                        </div>
                        <div class="input__box">
                            <input type="password" placeholder="Conform Password" />
                        </div>
                        <div class="input__box">
                            <input type="submit" value="Login" />
                        </div>
                        <p class="forget">
                           Already have an account <a href="#">Sign In</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
